.footer {
    background-color: #54423a;
}

.navbar-default {
    background-color: #54423a;
    border-color: #63271d;
}

@media (min-width: 768px) {
    .navbar-nav > li > form {
        background-color: #54423a;
    }
}

.navbar-default .navbar-nav > .active > a{
    color: #dddddd;
    background-color: #64524a;
}

.navbar-default .navbar-nav > .active > a:hover{
    color: #dddddd;
    background-color: #64524a;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #54423a;
}

.dropdown-menu > li > a {
    color: #dddddd;
}

.dropdown-menu > li > a:hover {
    color: #dddddd;
    background-color: #64524a;
}

.navbar-default .navbar-nav > .open > a {
    color: #dddddd;
    background-color: #64524a;
    height: 48px;
    margin-top: -20px;
    padding-top: 23px;
}

.navbar-default .navbar-nav > .open > a:focus {
    color: #dddddd;
    background-color: #64524a;
}

.navbar-default .navbar-nav > .open > a:hover {
    color: #dddddd;
    background-color: #64524a;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #dddddd;
    background-color: #64524a;
}

.btn-primary {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

a {
    color: #54423a;
}

.navbar-default .navbar-nav > li > a {
    color: #cccccc;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;
    height: 100%;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout:hover {
    color: #eeeeee;
}

.footer-text > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout {
    color: #cccccc;
}

.footer-text {
    color: #cccccc;
}

.footer-text > a {
    color: #cccccc;
}

.alert-success {
    background-color: rgba(84, 66, 58, 0.1);
    border-color: rgba(84, 66, 58, 0.2);
    text-align: center;
}

.pagination > .active > a{
    color: #ffffff;
    background-color: #503836;
    border-color: #44322a;
}

.pagination > .active > a:hover{
    color: #ffffff;
    background-color: #463232;
    border-color: #402e28;
}

.pagination > li > a{
    color: #dddddd;
    background-color: #54423a;
}

.pagination > li > a:hover{
    color: #ffffff;
    background-color: #503836;
}

.pagination > .disabled > span {
    color: #dddddd;
    background-color: #54423a;
}

.pagination > .disabled > span:hover {
    color: #dddddd;
    background-color: #54423a;
}

a:hover {
    text-decoration: none;
    color: #463232;
}