.footer {
    background-color: #54423a;
}

.navbar-default {
    background-color: #54423a;
    border-color: #63271d;
}

@media (min-width: 768px) {
    .navbar-nav > li > form {
        background-color: #54423a;
    }
}

.navbar-default .navbar-nav > .active > a{
    color: #dddddd;
    background-color: #64524a;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #54423a;
}

.navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #dddddd;
    background-color: #64524a;
}

.dropdown-menu > li > a {
    color: #dddddd;
}

.dropdown-menu > li > a:hover {
     color: #dddddd;
     background-color: #64524a;
 }

.dropdown-menu:focus {
    color: #dddddd;
    background-color: #64524a;
}


.navbar-default .navbar-nav > .open > a {
    color: #dddddd;
    background-color: #64524a;
    height: 48px;
    margin-top: -20px;
    padding-top: 23px;
}

.navbar-default .navbar-nav > .open > a:focus {
    color: #dddddd;
    background-color: #64524a;
}

.navbar-default .navbar-nav > .open > a:hover {
    color: #dddddd;
    background-color: #64524a;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #dddddd;
    background-color: #64524a;
}

.btn-primary {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

a {
    color: #54423a;
}

.navbar-default .navbar-nav > li > a {
    color: #cccccc;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;
    height: 100%;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #cccccc;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout:hover {
    color: #eeeeee;
}

.footer-text > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout {
    color: #cccccc;
}

.footer-text {
    color: #cccccc;
}

.footer-text > a {
    color: #cccccc;
}

.alert-success {
    background-color: rgba(84, 66, 58, 0.1);
    border-color: rgba(84, 66, 58, 0.2);
    text-align: center;
}

.pagination > .active > a{
    color: #ffffff;
    background-color: #503836;
    border-color: #44322a;
}

.pagination > .active > a:hover{
    color: #ffffff;
    background-color: #463232;
    border-color: #402e28;
}

.pagination > li > a{
    color: #dddddd;
    background-color: #54423a;
}

.pagination > li > a:hover{
    color: #ffffff;
    background-color: #503836;
}

.pagination > .disabled > span {
    color: #dddddd;
    background-color: #54423a;
}

.pagination > .disabled > span:hover {
    color: #dddddd;
    background-color: #54423a;
}

a:hover {
    text-decoration: none;
    color: #463232;
}

.brown-back {
    background-color: #C9C9C9;
}

.white-back {
     background-color: #eeeeee;
 }

.white-back:hover {
    background-color: rgba(153, 153, 153, 0.3);
}

.expense-back {
    background-color: rgba(153, 0, 0, 0.1);;
}

.movement-back {
    background-color: rgba(0, 0, 153, 0.1);;
}

.movement-back:hover {
    background-color: rgba(0, 0, 153, 0.2);;
}

.expense-back {
    background-color: rgba(153, 0, 0, 0.1);;
}

.expense-back:hover {
    background: rgba(153, 0, 0, 0.2);
}

.profit-back {
    background-color: rgba(0, 153, 0, 0.1);;
}

.profit-back:hover {
    background: rgba(0, 153, 0, 0.2);
}

.active-back {
    background-color: rgba(184, 166, 158, 0.2);
}

.rose-back {
    background-color: rgba(200, 100, 200, 0.09);
}

/*.fin-acc-row:hover {
    background-color: rgba(84, 66, 58, 0.06);
}*/

.btn-submenu {
    color: #848484;
}

.btn-active {
    color: #8A2908;
}

.btn-active-profit {
    color: #04B404;
}

.btn-active-expense {
    color: #FE2E2E;
}

.btn-active-replacement {
    color: #5882FA;
}

.underlined-back {
    background-color: rgba(153, 153, 153, 0.1);
}



.radio-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: 11px;
}
.radio-container *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.radio-container .radio-btn{
    overflow: hidden;
}
.radio-container .radio-btn.nth-2{width: calc(50% - 1px);}
/*.radio-container .radio-btn.nth-3{width: calc(33.3333% - 1.4px);}*/
.radio-container .radio-btn.nth-3{width: calc(29% - 1.5px);}
.radio-container .radio-btn label{
    background: linear-gradient(to bottom, #f8f8fa 0%,#c8c8c7 100%);
    display: block;
    padding: 6px 12px;
    text-align: center;
    color: #7e7e7e;
    border-top: 1px solid #b4b5b9;
    border-bottom: 1px solid #b4b5b9;
    border-right: 1px solid #b4b5b9;
}
.radio-container .radio-btn input{display: none;}
.radio-container .radio-btn input:checked + label{
    background: linear-gradient(to bottom, #54423a 0%,#63271d 100%);
    color: #fff;
}
.radio-container .radio-btn:first-child label{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 1px solid #b4b5b9;
}
.radio-container .radio-btn:last-child label{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio-container .radio-btn label:hover{
    cursor: pointer;
}

.hide + label {
    color: #63271d;
}

.hide:checked + label {
    color: #7e7e7e;
    border-bottom: 0;
}

.hide + label:before {
    background-color: #63271d;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.window {
    background-color: #efefef;/*rgba(84, 66, 58, 0.1);*/

    -moz-box-shadow: 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: 3px 3px 10px #7d8e8f;
    box-shadow: 3px 3px 10px #7d8e8f;
}

.context-menu__items {
    background: linear-gradient(to bottom, #f8f8fa 0%,#c8c8c7 100%);
}

.context-menu__item:hover {
    background: linear-gradient(to bottom, #54423a 0%,#63271d 100%);
    color: #fff;
}

.window-colored {
    box-shadow: 0 0 10px 10px #8A2908;
}

.window-colored-green {
    box-shadow: 0 0 10px 10px #2E8B57;
}

.col-back-inn {
    background: linear-gradient(45deg, rgba(102, 51, 0, 0.7), rgba(102, 51, 0, 0.2));
}

.col-back-inn-light {
    background: linear-gradient(45deg, rgba(102, 51, 0, 0.4), rgba(102, 51, 0, 0.2));
}

.col-back-inn-harder:hover {
    background: linear-gradient(45deg, rgba(102, 51, 0, 0.9), rgba(102, 51, 0, 0.4));
}

.col-back-fin {
    background: linear-gradient(45deg, rgba(255, 153, 0, 0.7), rgba(255, 153, 0, 0.2));
}

.col-back-fin-light {
    background: linear-gradient(45deg, rgba(255, 153, 0, 0.4), rgba(255, 153, 0, 0.2));
}

.col-back-fin-harder:hover {
    background: linear-gradient(45deg, rgba(255, 153, 0, 0.9), rgba(255, 153, 0, 0.4));
}

.col-back-hea {
    background: linear-gradient(45deg, rgba(0, 153, 51, 0.7), rgba(0, 153, 51, 0.2));
}

.col-back-hea-light {
    background: linear-gradient(45deg, rgba(0, 153, 51, 0.4), rgba(0, 153, 51, 0.2));
}

.col-back-hea-harder:hover {
    background: linear-gradient(45deg, rgba(0, 153, 51, 0.9), rgba(0, 153, 51, 0.4));
}

.col-back-rel {
    background: linear-gradient(45deg, rgba(255, 51, 51, 0.7), rgba(255, 51, 51, 0.2));
}

.col-back-rel-light {
    background: linear-gradient(45deg, rgba(255, 51, 51, 0.4), rgba(255, 51, 51, 0.2));
}

.col-back-rel-harder:hover {
    background: linear-gradient(45deg, rgba(255, 51, 51, 0.9), rgba(255, 51, 51, 0.4));
}

.col-back-edu {
    background: linear-gradient(45deg, rgba(0, 102, 204, 0.7), rgba(0, 102, 204, 0.2));
}

.col-back-edu-light {
    background: linear-gradient(45deg, rgba(0, 102, 204, 0.4), rgba(0, 102, 204, 0.2));
}

.col-back-edu-harder:hover {
    background: linear-gradient(45deg, rgba(0, 102, 204, 0.9), rgba(0, 102, 204, 0.4));
}

.col-back-rea {
    background: linear-gradient(45deg, rgba(102, 102, 102, 0.7), rgba(102, 102, 102, 0.2));
}

.col-back-rea-light {
    background: linear-gradient(45deg, rgba(102, 102, 102, 0.4), rgba(102, 102, 102, 0.2));
}

.col-back-rea-harder:hover {
    background: linear-gradient(45deg, rgba(102, 102, 102, 0.9), rgba(102, 102, 102, 0.4));
}

.col-back-psy {
    background: linear-gradient(45deg, rgba(153, 102, 204, 0.7), rgba(153, 102, 204, 0.2));
}

.col-back-psy-light {
    background: linear-gradient(45deg, rgba(153, 102, 204, 0.4), rgba(153, 102, 204, 0.2));
}

.col-back-psy-harder:hover {
    background: linear-gradient(45deg, rgba(153, 102, 204, 0.9), rgba(153, 102, 204, 0.4));
}

.col-back-tra {
    background: linear-gradient(45deg, rgba(153, 204, 255, 0.7), rgba(153, 204, 255, 0.2));
}

.col-back-tra-light {
    background: linear-gradient(45deg, rgba(153, 204, 255, 0.4), rgba(153, 204, 255, 0.2));
}

.col-back-tra-harder:hover {
    background: linear-gradient(45deg, rgba(153, 204, 255, 0.9), rgba(153, 204, 255, 0.4));
}

.col-back-unused {
     background: linear-gradient(45deg, rgba(169, 169, 169, 0.7), rgba(169, 169, 169, 0.7));
 }

.col-back-unused-light {
    background: linear-gradient(45deg, rgba(169, 169, 169, 0.4), rgba(169, 169, 169, 0.4));
}

.col-back-unused-harder:hover {
    background: linear-gradient(45deg, rgba(169, 169, 169, 0.9), rgba(169, 169, 169, 0.9));
}

.col-back-none {
    background: linear-gradient(45deg, rgba(211, 211, 211, 0.7), rgba(211, 211, 211, 0.2));
}

.col-back-none-light {
    background: linear-gradient(45deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.2));
}

.col-back-none-harder:hover {
    background: linear-gradient(45deg, rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.4));
}

.col-message-wrapper {
    background-color: #f9fafb;
}

.text-color-red {
    color: #BE2E2E;
}

.text-color-darkBlue {
    color: #111177;
}

.bck-style {
    background-color: rgba(80, 56, 54, 0.5);
}

/* - */