.footer {
    background-color: #54423a;
}

.navbar-default {
    background-color: #54423a;
    border-color: #63271d;
}

@media (min-width: 768px) {
    .navbar-nav > li > form {
        background-color: #54423a;
    }
}

.navbar-default .navbar-nav > .active > a{
    color: #dddddd;
    background-color: #64524a;
}

.navbar-default .navbar-nav > .active > a:hover{
    color: #dddddd;
    background-color: #54423a;
}

.btn-primary {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #54423a;
    border-color: #63271d;
}

a {
    color: #54423a;
}

.navbar-default .navbar-nav > li > a {
    color: #cccccc;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout:hover {
    color: #eeeeee;
}

.footer-text > a:hover {
    color: #eeeeee;
}

.nav li > form > button.logout {
    color: #cccccc;
}

.footer-text {
    color: #cccccc;
}

.footer-text > a {
    color: #cccccc;
}

.alert-success {
    background-color: rgba(84, 66, 58, 0.1);
    border-color: rgba(84, 66, 58, 0.2);
    text-align: center;
}

.pagination > .active > a{
    color: #ffffff;
    background-color: #503836;
    border-color: #44322a;
}

.pagination > .active > a:hover{
    color: #ffffff;
    background-color: #463232;
    border-color: #402e28;
}

.pagination > li > a{
    color: #dddddd;
    background-color: #54423a;
}

.pagination > li > a:hover{
    color: #ffffff;
    background-color: #503836;
}

.pagination > .disabled > span {
    color: #dddddd;
    background-color: #54423a;
}

.pagination > .disabled > span:hover {
    color: #dddddd;
    background-color: #54423a;
}