.btn-submenu:not(:first-child) {
    margin-left: 50px;
}

.submenu {
    text-align: center;
    margin-bottom: 10px;
}

.fin-main-submenu {
    grid-area: url-main ;
    height: 72vh;
}

.btn-submenu-interactive:hover {
    cursor: pointer;
}