.btn-submenu:not(:first-child) {
    margin-left: 50px;
}

.submenu {
    text-align: center;
    margin-bottom: 10px;
}

.fin-main-submenu {
    grid-area: url-main ;
    height: 72vh;
}

.btn-submenu-interactive:hover {
    cursor: pointer;
}

.fin-reg-date {
    float: left;
    width: 10%;
}

.fin-reg-acc {
    float: left;
    width: 20%;
}

.fin-reg-cat {
    float: left;
    width: 18%;
}

.fin-reg-sub {
    float: left;
    width: 18%;
}

.fin-reg-amount {
    float: left;
    width: 14%;
}

.fin-reg-com {
    float: left;
    width: 20%;
    border-right: 1px solid #AAAAAA;
}

.gap-v{
    margin-top: 20px;
}

.gap-v-13{
    margin-top: 13px;
}

.url-window-right-hidden {
    width: 0px;
}

.caption-line-half-20 {
    width: 26%;
    padding: 8px; /* the container will keep the padding untouched */
    float: left;
    text-align: right;

    margin-top: 10px;
}

.caption-line-10 {
    width: 13%;
    padding: 8px; /* the container will keep the padding untouched */
    float: left;
    text-align: right;

    margin-top: 10px;
}

