.container-wrap {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px auto; /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
    grid-template-rows: 40px 360px 300px auto;
}

.container-wrap3 {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px auto; /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
    grid-template-rows: 40px 360px 1px auto;
    display: flex;
}

.avatar {
     grid-row: 1 / 3;
 }

.avatar_font {
    max-width: 290px;
    max-height: 400px;
}

.FIO {
    grid-column: 2 / -1;
}

.main-info {
     grid-column: 2 / -1;
 }

.add-info {
    grid-column: 2 / -1;
}

.button-panel {
    grid-column: 2 / 1;
}

.goals {
    grid-column: 2 / -1;
}



.container-wrap > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.window {
    padding: 15px;
    background-color: rgba(84, 66, 58, 0.1);
}

.window-button {
    padding: 10px;
    background-color: #67544f;
    text-align: center;
    color: #F0F0F0;
    width: fit-content;

    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
}

.window-button:hover {
    background-color: #503836;
    cursor: pointer;
}


.window-right {
    padding: 15px 0 15px 15px;
    background-color: rgba(84, 66, 58, 0.1);
}

.window-white {
     background: #F0F0F0;
     padding: 15px;
     background-color: rgba(250, 250, 250, 1);
 }

.window-gray {
    background: #F0F0F0;
    padding: 15px;
    background-color: rgba(230, 230, 230, 1);
}

.window-border {
      border-radius: 10px;
      border: 1px solid #C0C0C0; /* Белая рамка */
  }

.window-border-0 {
    border-radius: 10px;
    border: 0px solid #C0C0C0; /* Белая рамка */
}

.window-border-top {
    border-radius: 10px 10px 0 0;
    border: 1px solid #C0C0C0; /* Белая рамка */
}

.window-border-bottom {
    border-radius: 0 0 10px 10px;
    border: 1px solid #C0C0C0; /* Белая рамка */
}

.window-caption {
    width: 100%;
    text-align: center;
    background-color: rgba(84, 66, 58, 0.2);
    font-weight: 600;

    margin-bottom: 10px;
    margin-top: 10px;
}

.window-caption-full {
    width: 100%;
    text-align: center;
    background-color: rgba(84, 66, 58, 0.2);
    font-weight: 600;
}

.window-panel-right {
    width: 100%;
    text-align: right;
    background-color: rgba(84, 66, 58, 0.2);
    font-weight: 600;

    margin-bottom: 10px;
    margin-top: 10px;
}

/*.container-wrap-fio {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}*/

.FIO-main {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.subwindow {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 105px;
}

.ac-last-activity:hover::after {
    content: 'Последний раз был активен';
    position: absolute; /* Абсолютное позиционирование */
    right: 20%; top: 10%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}

.unactive {
    color: #AAAAAA;
}

.interactive:hover {
    color: #000000;
}

.symbol_style {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 15pt; /* Размер шрифта в пунктах */
}

/*Разделение на две колонки*/
.container-wrap-2colomns {
    /*height: 100%;*/
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr); /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
    grid-template-rows: auto;

    /*grid-template-columns: 150px auto; /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
}

.wrap-column1 {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    width: 100%;
}

.wrap-column2 {
    grid-row: 1 / -1;
    grid-column: 2 / 2;
    width: 100%;
}

.container-wrap2 {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px auto; /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
    grid-template-rows: auto;
}

.wrap2-column1 {
    grid-row: 1 / -1;
    grid-column: 1 / 1;
    width: 100%;
}

.wrap2-column2 {
    grid-row: 1 / -1;
    grid-column: 2 / 5;
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.label-about {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgba(84, 66, 58, 0);
    border: 0px;
}

.container-wrap-last {
    height: auto;
}

.dialog-header {
    grid-area: dialog-header;
    height: 40px;
}
.dialog-main {
    grid-area: dialog-main ;
    height: 55vh;
}
.dialog-sidebar {
    grid-area: dialog-sidebar;
}

.dialog-sidebar-left{
    grid-area: dialog-sidebar-left;
}

.dialog-footer {
    grid-area: dialog-footer;
    height: 40px;
}

.dialog-container-wrap {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr; /*1fr 2fr 1fr; /*repeat(12, 1fr);*/ /*repeat(2, 1fr);*/
    grid-template-areas:
    "dialog-sidebar-left dialog-header" /*dialog-sidebar*/
    "dialog-sidebar-left dialog-main"
    "dialog-sidebar-left dialog-footer";
}

.window-subcaption {
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}

.content {
    height: 100%;
}

.chat-wrapper {
    width: 100%;
}

.message-text {
    min-height: 1em; /* prevent height collapsing when there is no text */
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;
}

.message-wrapper {
    width: 92%;
    background-color: #f9fafb;
    padding: 8px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    float: left;
}

.message-wrapper-gray {
    width: 92%;
    background-color: #f9fafb;
    padding: 8px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    float: left;
    background-color: #F0F0F0;
}

.message-send {
    float: left;
    color: #67544f;
    width: 8%;
    text-align: center;
    font-size: 30px;
}

.message-send:hover {
    color: #503836;
}

.button-item:hover {
    background-color: rgba(84, 66, 58, 0.01);
}

.clearfix {
    clear: both;
}
.message-text-line {
    min-height: 22px; /* prevent height collapsing when there is no text */
    max-height: 97px;
    width: 100%;
    /*align-content: center;*/
    outline: none;
    overflow: hidden;

    text-align: left;

    border: 0px;
    background-color: rgba(1,1,1,0);
}

.message-wrapper-line {
    width: 80%;
    background-color: #f9fafb;
    padding: 8px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    float: left;

    margin-top: 10px;
}

.message-wrapper-title {
    width: 100%;
    padding: 8px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
}

.caption-line {
    width: 20%;
    padding: 8px; /* the container will keep the padding untouched */
    float: left;
    text-align: right;

    margin-top: 10px;
}

.half_width {
    width: 50%;
    float: left;
}

.message-wrapper-line-half {
    width: 60%;
    background-color: #f9fafb;
    padding: 8px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    float: left;

    margin-top: 10px;
}

.caption-line-half {
    width: 40%;
    padding: 8px; /* the container will keep the padding untouched */
    float: left;
    text-align: right;

    margin-top: 10px;
}

.caption-text{
    width: 90%;
    padding: 8px; /* the container will keep the padding untouched */
    float: left;

    text-align: center;
    font-weight: bold;

    margin-top: 10px;
}

.caption-begin {
     width: 5%;
    float: left;
 }

.caption-close {
    width: 5%;
    float: left;

    padding: 8px;
}

.fin-acc-name {
    float: left;
    width: 25%;
}

.fin-acc-amount {
    float: left;
    width: 20%;
}

.fin-acc-comment {
    float: left;
    width: 45%;
}



.fin-acc-panel {
    float: left;
    width: 10%;

    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
}

.fin-acc-row:hover {
    background-color: rgba(84, 66, 58, 0.06);
}

.fin-acc-row {
    min-height: 22px;
    position:relative;
    overflow: hidden;
}

.table-caption {
    font-weight: bold;
    text-align: center;
 }

.table-text {
    border-left: 1px solid #AAA;
    height: 100%;
}

.fin-acc-row .table-text:hover {
    background-color: rgba(84, 66, 58, 0.06);
}

.right-text {
    text-align: right;
}

.line {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #AAA;
}

.margin-v20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10%;
    background-color: #E9E9E9;  /* #17191a;*/
    border: solid 2px #67544f;
    width: 1000px;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: #C9C9C9;
    opacity: 0.3;
}

.redBorder  {
    border: solid 1px red;
}

.text-center {
    text-align: center;
}

.brown-back {
    background-color: #C9C9C9;
}

.white-back {
    background-color: #eeeeee;
}

.red-comment{
    margin-top: 10px;
    color: red;
    text-align: center;
    width: 100%;
}