.users-container-wrap {
    height: 180px;
    min-width: 567px;
    max-width: 567px;
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 150px repeat(1, 1fr);
    grid-template-rows: auto;

    padding: 14px;
}

.userAvatar-container-wrap {
    height: 180px;
    min-width: 550px;
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 150px repeat(1, 1fr);
    grid-template-rows: auto;

    padding: 14px;
}

/*.users-container-wrap:not(:first-child) {
    margin-top: 20px;
}*/

.users-avatar {
    grid-row: 1 / 2;
}

.users-avatar_font {
    max-width: 130px;
    max-height: 173px;
}

.users-center {
    text-align: center;
}

.img-wrap-user{
    width: 150px;
    height: 150px;
}

.img-user {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}

.wrapper-tag {
    padding: 3px;
    float: left;
}